body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

header {
    width: 100%;
    background: 0073e6;
    padding: 15px 0;
    color: white;

}

footer
{
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.content {
    max-width: 800px;
    padding: 20px;
    background: #FFFF33;
}

@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
    }
}